@model SliderDetail

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div class="container my-5">
    <div class="card">
        <div class="card-header">
            SliderDetail Details
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Header
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Image
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.Raw(Model.Header)
                    </td>
                    <td>
                        @Html.Raw(Model.Description)
                    </td>
                    <td>
                        <img src="~/img/@Model.Photo" alt="slider" />
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>


